{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%} {% if user.isdoctor == "Yes" %}
<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 10vh;
  "
>
  <img
    style="width: 75px; height: 75px; margin-left: 5%"
    src="{{ url_for('static', filename='images/doctorIcon.png') }}"
  />
  <h1
    text-align="center"
    class="pageTitle"
    style="
      vertical-align: middle;
      margin-left: 25px;
      margin-top: 0;
      line-height: 75px;
    "
  >
    Dr. {{user.first_name}}
  </h1>
</div>

<div
  style="
    display: flex;
    height: 75vh;
    width: 100%;
    padding: 1%;
    margin-top: 20px;
  "
>
  <div
    style="
      display: block;
      width: 55%;
      padding: 2%;
      border: 0.5px rgb(210, 210, 210) solid;
      border-radius: 25px;
      background-color: rgb(249, 249, 249);
      margin-left: 2.5%;
      overflow-y: scroll;
    "
  >
    <h2>Upload X-Ray</h2>
    <p>Supported Formats: PNG, JPG, JPEG</p>

    <form
      style="
        display: flex;
        align-items: center;
        justify-content: left;
        margin-top: 35px;
      "
      name="ImageUploadForm"
      action=""
      method="post"
      enctype="multipart/form-data"
    >
      <input type="hidden" name="form_name" value="imageUploadForm" />
      <input
        type="file"
        name="image"
        accept="image/*"
        style="
          width: 100%;
          margin-right: 5%;
          padding: 2%;
          background-color: white;
          border-radius: 8px;
          border: 1px rgb(150, 150, 150) solid;
        "
      />
      <br />
      <input
        type="submit"
        value="Upload"
        style="
          padding: 2%;
          background-color: white;
          border-radius: 8px;
          border: 1px rgb(150, 150, 150) solid;
        "
      />
    </form>

    {% if image_filename %}
    <div style="text-align: left; margin-top: 40px">
      <h5>Uploaded Image:</h5>
      <img
        src="{{ url_for('static', filename='images/' ~ image_filename) }}"
        alt="Uploaded Image"
        style="
          margin-left: auto;
          margin-right: auto;
          height: auto;
          width: 90%;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          padding-left: 5%;
        "
      />
    </div>
    {% endif %}
  </div>

  <div style="display: block; width: 100%">
    <div
      style="
        display: block;
        width: 100%;
        height: 65%;
        margin-left: 5%;
        padding: 3%;
        border: 0.5px rgb(210, 210, 210) solid;
        border-radius: 25px;
        background-color: rgb(249, 249, 249);
        overflow-y: scroll;
      "
    >
      <h2>Run Scans</h2>
      <p>Click on each test to run and review results</p>

      <div style="display: block; margin-top: 30px">
        <form method="POST" action="" name="getScan" style="display: flex">
          <input type="hidden" name="form_name" value="getScan" />
          <button
            type="submit"
            name="scanType"
            value="boneAge"
            style="
              padding: 2%;
              background-color: white;
              border-radius: 8px;
              border: 1px rgb(150, 150, 150) solid;
            "
          >
            Bone Age
          </button>

          {% for scan in scan_data %} {% if scan.scan_name == "Bone Age" and
          loop.first %}
          <p style="margin-left: 50%">Last run: {{scan.scan_datetime}}</p>
          {% endif %} {% endfor %}
        </form>
      </div>

      <div style="display: block; margin-top: 20px">
        <form method="POST" action="" name="getScan" style="display: flex">
          <input type="hidden" name="form_name" value="getScan" />
          <button
            type="submit"
            name="scanType"
            value="fracture"
            style="
              padding: 2%;
              background-color: white;
              border-radius: 8px;
              border: 1px rgb(150, 150, 150) solid;
            "
          >
            Fracture
          </button>
          {% for scan in scan_data %} {% if scan.scan_name == "Fracture
          Detection" and loop.first %}
          <p style="margin-left: 50%">Last run: {{scan.scan_datetime}}</p>
          {% endif %} {% endfor %}
        </form>
      </div>

      <div style="display: block; margin-top: 20px">
        <form method="POST" action="" name="getScan" style="display: flex">
          <input type="hidden" name="form_name" value="getScan" />
          <button
            type="submit"
            name="scanType"
            value="pneumonia"
            style="
              padding: 2%;
              background-color: white;
              border-radius: 8px;
              border: 1px rgb(150, 150, 150) solid;
            "
          >
            Pneumonia
          </button>
          {% for scan in scan_data %} {% if scan.scan_name == "Pneumonia
          Detection" and loop.first %}
          <p style="margin-left: 50%">Last run: {{scan.scan_datetime}}</p>
          {% endif %} {% endfor %}
        </form>
      </div>

      <div style="display: block; margin-top: 20px">
        <form method="POST" action="" name="getScan" style="display: flex">
          <input type="hidden" name="form_name" value="getScan" />
          <button
            type="submit"
            name="scanType"
            value="cancer"
            style="
              padding: 2%;
              background-color: white;
              border-radius: 8px;
              border: 1px rgb(150, 150, 150) solid;
            "
          >
            Cancer
          </button>
          {% for scan in scan_data %} {% if scan.scan_name == "Cancer Detection"
          and loop.first %}
          <p style="margin-left: 50%">Last run: {{scan.scan_datetime}}</p>
          {% endif %} {% endfor %}
        </form>
      </div>
    </div>

    <div
      style="
        display: block;
        width: 100%;
        height: 33%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 3%;
        border: 0.5px rgb(210, 210, 210) solid;
        border-radius: 25px;
        background-color: rgb(249, 249, 249);
        overflow-y: scroll;
      "
    >
      <h2>Results</h2>
      {% if boneoutput_months %}
      <p>
        Bone age in months and years: {{ boneoutput_months }} months, {{
        boneoutput_years }} years
      </p>
      <div style="display: flex; width: 100%; margin-top: 5%">
        <!-- <label for="emailForm" style="display: flex; width: auto; margin-right: 15px; align-items: center;"></label> -->
        <form
          style="width: 100%; display: flex; align-items: center"
          name="emailForm"
          action=""
          method="post"
        >
          <input type="hidden" name="form_name" value="emailForm" />
          <textarea
            name="note"
            placeholder="Enter patient email address (i.e. johndoe@gmail.com)"
            style="height: 50px; width: 80%; display: flex"
          ></textarea>
          <input type="submit" value="Send Scan Results" style="height: 50px;
          display: flex; margin-left: 15px; padding: 2%; background-color:
          white; border-radius: 8px; border: 1px rgb(150, 150, 150) solid"" />
        </form>
      </div>

      {% elif fractureoutput_text %}
      <p>{{ fractureoutput_text }}</p>
      <div style="display: flex; width: 100%; margin-top: 5%">
        <!-- <label for="emailForm" style="display: flex; width: auto; margin-right: 15px; align-items: center;"></label> -->
        <form
          style="width: 100%; display: flex; align-items: center"
          name="emailForm"
          action=""
          method="post"
        >
          <input type="hidden" name="form_name" value="emailForm" />
          <textarea
            name="note"
            placeholder="Enter patient email address (i.e. johndoe@gmail.com)"
            style="height: 50px; width: 80%; display: flex"
          ></textarea>
          <input type="submit" value="Send Scan Results" style="height: 50px;
          display: flex; margin-left: 15px; padding: 2%; background-color:
          white; border-radius: 8px; border: 1px rgb(150, 150, 150) solid"" />
        </form>
      </div>

      {% elif pneumoniaoutputtext %}
      <p>{{ pneumoniaoutputtext }}</p>
      <div style="display: flex; width: 100%; margin-top: 5%">
        <!-- <label for="emailForm" style="display: flex; width: auto; margin-right: 15px; align-items: center;"></label> -->
        <form
          style="width: 100%; display: flex; align-items: center"
          name="emailForm"
          action=""
          method="post"
        >
          <input type="hidden" name="form_name" value="emailForm" />
          <textarea
            name="note"
            placeholder="Enter patient email address (i.e. johndoe@gmail.com)"
            style="height: 50px; width: 80%; display: flex"
          ></textarea>
          <input type="submit" value="Send Scan Results" style="height: 50px;
          display: flex; margin-left: 15px; padding: 2%; background-color:
          white; border-radius: 8px; border: 1px rgb(150, 150, 150) solid"" />
        </form>
      </div>

      {% elif canceroutputtext %}
      <p>{{ canceroutputtext }}</p>
      <div style="display: flex; width: 100%; margin-top: 5%">
        <!-- <label for="emailForm" style="display: flex; width: auto; margin-right: 15px; align-items: center;"></label> -->
        <form
          style="width: 100%; display: flex; align-items: center"
          name="emailForm"
          action=""
          method="post"
        >
          <input type="hidden" name="form_name" value="emailForm" />
          <textarea
            name="note"
            placeholder="Enter patient email address (i.e. johndoe@gmail.com)"
            style="height: 50px; width: 80%; display: flex"
          ></textarea>
          <input type="submit" value="Send Scan Results" style="height: 50px;
          display: flex; margin-left: 15px; padding: 2%; background-color:
          white; border-radius: 8px; border: 1px rgb(150, 150, 150) solid"" />
        </form>
      </div>

      {% elif user_details %}
      <p>
        The latest scan results have been sent to patient {{
        user_details.first_name }}.
      </p>

      {% else %}
      <p>Nothing to show!</p>
      {% endif %}
    </div>
  </div>
</div>

<br />
<br />

<h2>Doctor's Scan Records</h2>
<table
  style="
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
    border: 0.5px solid rgb(238, 7, 7);
  "
>
  <thead>
    <tr style="background-color: rgb(249, 249, 249)">
      <th
        style="
          padding: 10px;
          border: 0.5px solid rgb(130, 130, 130);
          text-align: left;
        "
      >
        Patient Name
      </th>
      <th
        style="
          padding: 10px;
          border: 0.5px solid rgb(130, 130, 130);
          text-align: left;
        "
      >
        Patient Email
      </th>
      <th
        style="
          padding: 10px;
          border: 0.5px solid rgb(130, 130, 130);
          text-align: left;
        "
      >
        Scan Name
      </th>
      <th
        style="
          padding: 10px;
          border: 0.5px solid rgb(130, 130, 130);
          text-align: left;
        "
      >
        Scan Date and Time
      </th>
      <th
        style="
          padding: 10px;
          border: 0.5px solid rgb(130, 130, 130);
          text-align: left;
        "
      >
        Scan Results
      </th>
    </tr>
  </thead>
  <tbody>
    {% if scan_data %} {% for scan in scan_data %}
    <tr>
      <td style="padding: 10px; border: 0.5px solid rgb(210, 210, 210)">
        {{ scan.patient_name }}
      </td>
      <td style="padding: 10px; border: 0.5px solid rgb(210, 210, 210)">
        {{ scan.patient_email }}
      </td>
      <td style="padding: 10px; border: 0.5px solid rgb(210, 210, 210)">
        {{ scan.scan_name }}
      </td>
      <td style="padding: 10px; border: 0.5px solid rgb(210, 210, 210)">
        {{ scan.scan_datetime }}
      </td>
      <td style="padding: 10px; border: 0.5px solid rgb(210, 210, 210)">
        {{ scan.scan_result }}
      </td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td
        colspan="5"
        style="padding: 20px; text-align: center; color: rgb(150, 150, 150)"
      >
        No scans available or scan in progress. Please click on the Home page.
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

{% else %}
<h1 align="center" class="pageTitle">Welcome {{user.first_name}}</h1>
<hr style="border-width: 2px" />
<h2 align="center">Educational Videos:</h2>
<div
  style="margin-top: 15px"
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h4 style="display: block; text-align: center">Bone Age Overview:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ZRTXjdrl2dY?si=CH--ukHSSBFPFtfA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="carousel-item">
      <h4 style="display: block; text-align: center">Pneumonia Overview:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/K_r-kMJjh8Y?si=qN8fjFHtR5FkxmEl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="carousel-item">
      <h4 style="display: block; text-align: center">Fractures Exercises:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/b8L9GRLHvws?si=alUoh5wy4p5IRjVj"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr style="border-width: 2px" />
<h2>Your Doctors' Scans</h2>
{% if scan_data|length == 0 %}
<p>No doctor has uploaded any scans for you.</p>
{% else %}
<table border="1">
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>Doctor Email</th>
      <th>Scan Name</th>
      <th>Scan Result</th>
      <th>Scan Date</th>
    </tr>
  </thead>
  <tbody>
    {% for scan in scan_data %}
    <tr>
      <td>{{ scan.doctor_name }}</td>
      <td>{{ scan.doctor_email }}</td>
      <td>{{ scan.scan_name }}</td>
      <td>{{ scan.scan_result }}</td>
      <td>{{ scan.scan_datetime }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<br />
<br />
<hr style="border-width: 2px" />
<h2 align="center">Frequently Asked Questions</h2>
<ul style="list-style-type: none; list-style-position: outside">
  <li style="padding-bottom: 10px">
    <strong>Will X-rays hurt?</strong>
    <p>
      No, X-rays will not hurt. They are a painless and non-invasive procedure.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>How long does it take?</strong>
    <p>The whole process usually takes about 10-15 minutes per body part.</p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>What are the risks?</strong>
    <p>
      Risks are very low. There is a very small chance of an allergic reaction
      to the X-ray dye.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>Do I need to prepare for an X-ray?</strong>
    <p>
      You will need to remove any clothing or jewelry that may interfere with
      the X-ray.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>How long will it take to get the results?</strong>
    <p>
      The radiologist will look at the X-ray and give the results to your
      doctor. Your doctor will then tell you the results.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>Can I get a copy of my X-ray?</strong>
    <p>
      You can get a copy of your X-ray from your doctor or the hospital where
      you got the X-ray.
    </p>
  </li>
</ul>
{% endif %} {% endblock %}
