{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%} {% if user.isdoctor == "Yes" %}
<h1 align="center" class="pageTitle">Welcome Dr. {{user.first_name}}</h1>
<!-- <h2 align="center">Your user id is: {{user.id}}</h2> -->
<hr style="border-width: 2px" />
<p>Upload x-ray images:</p>
<form
  name="ImageUploadForm"
  action=""
  method="post"
  enctype="multipart/form-data"
>
  <input type="hidden" name="form_name" value="imageUploadForm" />
  <input type="file" name="image" accept="image/*" />
  <br />
  <input
    type="submit"
    value="Upload"
    style="display: block; margin-top: 16px"
  />
</form>

{% if image_filename %}
<h2 align="center">Uploaded Image:</h2>
<img
  src="{{ url_for('static', filename='images/' ~ image_filename) }}"
  alt="Uploaded Image"
  style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
  "
/>
{% endif %}
<hr style="border-width: 2px" />
<br />
<br />

<label for="getChoice">What scan do you want to run?</label>
<form name="getChoice" action="" method="post">
  <input type="hidden" name="form_name" value="getChoice" />
  <select name="getChoice" id="getChoice">
    <option value="boneAge">Bone Age</option>
    <option value="fracture">Fracture Detection</option>
    <option value="pneumonia">Pneumonia Detection</option>
    <option value="cancer">Cancer Detection</option>
  </select>
  <input type="submit" value="Submit" />
</form>
<br />
<br />
<br />
<h2>Doctor's Scan Records</h2>
<table border="1">
  <thead>
    <tr>
      <th>Patient Name</th>
      <th>Patient Email</th>
      <th>Scan Name</th>
      <th>Scan Date and Time</th>
      <th>Scan Results</th>
    </tr>
  </thead>
  <tbody>
    {% if scan_data %} {% for scan in scan_data %}
    <tr>
      <td>{{ scan.patient_name }}</td>
      <td>{{ scan.patient_email }}</td>
      <td>{{ scan.scan_name }}</td>
      <td>{{ scan.scan_datetime }}</td>
      <td>{{ scan.scan_result }}</td>
    </tr>
    {% endfor %} {% else %}
    <tr>
      <td colspan="5">
        No scans available or scan in progress. Please click on the Home page.
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
{% if boneoutput_months %}
<h2 align="center">Scan Output:</h2>
<p align="center">
  Your bone age is: {{ boneoutput_months }} months (also {{ boneoutput_years}}
  years)
</p>
{% endif %} {% if fractureoutput_text %}
<h2 align="center">Scan Output:</h2>
<p align="center">Here is information on your fracture scan:</p>
<p align="center">{{fractureoutput_text}}</p>
{% endif %} {% if pneumoniaoutputtext %}
<h2 align="center">Scan Output:</h2>
<p align="center">{{pneumoniaoutputtext}}</p>
{% endif %} {% if canceroutputtext %}
<h2 align="center">Scan Output:</h2>
<p align="center">{{canceroutputtext}}</p>
{% endif %}

<br />
<label for="emailForm"
  >Email your patient the results of the latest scan:</label
>
<form name="emailForm" action="" method="post">
  <input type="hidden" name="form_name" value="emailForm" />
  <!-- Hidden field for form identification -->
  <textarea
    name="note"
    placeholder="Start of your email..."
    style="width: 100%"
  ></textarea>
  <input
    type="submit"
    value="Submit Email"
    style="margin-top: 10px; display: block"
  />
</form>
{% if user_details %}
<p align="center">
  The name of the patient with this email is: {{ user_details.first_name }}.
  Please verify that this is indeed correct. The scan results have been sent to
  this patient.
</p>

{% endif %} {% else %}
<h1 align="center" class="pageTitle">Welcome {{user.first_name}}</h1>
<hr style="border-width: 2px" />
<h2 align="center">Educational Videos:</h2>
<div
  style="margin-top: 15px"
  id="carouselExampleIndicators"
  class="carousel slide"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h4 style="display: block; text-align: center">Bone Age Overview:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/ZRTXjdrl2dY?si=CH--ukHSSBFPFtfA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="carousel-item">
      <h4 style="display: block; text-align: center">Pneumonia Overview:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/K_r-kMJjh8Y?si=qN8fjFHtR5FkxmEl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="carousel-item">
      <h4 style="display: block; text-align: center">Fractures Exercises:</h4>
      <div style="display: flex; align-items: center; justify-content: center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/b8L9GRLHvws?si=alUoh5wy4p5IRjVj"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr style="border-width: 2px" />
<h2 align="center">Frequently Asked Questions</h2>
<ul style="list-style-type: none; list-style-position: outside">
  <li style="padding-bottom: 10px">
    <strong>Will X-rays hurt?</strong>
    <p>
      No, X-rays will not hurt. They are a painless and non-invasive procedure.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>How long does it take?</strong>
    <p>The whole process usually takes about 10-15 minutes per body part.</p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>What are the risks?</strong>
    <p>
      Risks are very low. There is a very small chance of an allergic reaction
      to the X-ray dye.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>Do I need to prepare for an X-ray?</strong>
    <p>
      You will need to remove any clothing or jewelry that may interfere with
      the X-ray.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>How long will it take to get the results?</strong>
    <p>
      The radiologist will look at the X-ray and give the results to your
      doctor. Your doctor will then tell you the results.
    </p>
  </li>
  <li style="padding-bottom: 10px">
    <strong>Can I get a copy of my X-ray?</strong>
    <p>
      You can get a copy of your X-ray from your doctor or the hospital where
      you got the X-ray.
    </p>
  </li>
</ul>
{% endif %} {% endblock %}
