{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<div
  style="
    background-color: black;
    height: 91vh;
    width: 100vw;
    display: block;
    position: relative;
    left: -7vw;
  "
>
  <h1 class="pageBannerTitle">Welcome to xRAI</h1>

  <p class="pageBannerText1">
    An estimated <b style="color: red">250,000 people</b> die each year in the
    United States due to medical errors. This makes medical errors the third
    leading cause of death after heart disease and cancer.
  </p>

  <p class="pageBannerText2">
    Our mission at xRAI (please read the about page!) is to help mitigate these
    numbers. We will use AI models to help doctors analyze patient's risk of
    pnemonia, identify hard to see fractures, and find children's bone age based
    on the patient's x-ray.
  </p>
</div>

<form method="POST">
  <h3 align="center" class="pageTitle">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
    <br />
    <div class="form-group">
      <label for="typeUser">Are you a doctor?</label>
      <select name="typeUser">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
